﻿
@{
    ViewBag.Title = "AdInfo";
}

<h2>Reklama</h2>

<div>
    <p>
        <b>
            <font color="red">
                Ważne! Zapamiętaj identyfikator reklamy, który otrzymałeś oraz hasło,
                które podałeś. Możesz ich użyć w celu późniejszego sprawdzenia stanu twojej
                reklamy. Stan reklamy sprawdzisz klikająć 'Podgląd reklamy' w górnym menu.
            </font>
        </b>
    </p>
    <p>
        <b>Identyfikator: </b> @ViewBag.Id<br />
        <b>Tagi: </b> @ViewBag.Tags<br />
        <b>Miejsce: </b> @ViewBag.Place<br />
        <b>Docelowa ilość wyświetleń: </b> @ViewBag.doceloweWyswietlenia<br />
        <b>Obecna ilość wyświetleń: </b> @ViewBag.aktualneWyswietlenia
    </p>
</div>

