﻿
@{
    ViewBag.Title = "AdState";
}

<h2>Podgląd reklamy</h2>

<p>
    <b>Identyfikator: </b> @ViewBag.Id<br />
    <b>Tagi: </b> @ViewBag.Tags<br />
    <b>Miejsce: </b> @ViewBag.Place<br />
    <b>Docelowa ilość wyświetleń: </b> @ViewBag.doceloweWyswietlenia<br />
    <b>Obecna ilość wyświetleń: </b> @ViewBag.aktualneWyswietlenia
</p>