﻿@model TSM_serwer.Models.AdAuthModel
@{
    ViewBag.Title = "GetAd";
}

<h2>GetAd</h2>
<p>Podaj identyfikator i hasło, aby zobaczyć aktualny stan reklamy.</p>
<div id="container">
    @using (Ajax.BeginForm("GetAdState", "Home", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "container"
    }, new { id = "Identyfikator", haslo = "hasło"}))
    {
        <div class="row">
            @Html.LabelFor(n => n.id)
            @Html.TextBoxFor(n => n.id)
            @Html.ValidationMessageFor(n => n.id)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.haslo)
            @Html.PasswordFor(n => n.haslo)
            @Html.ValidationMessageFor(n => n.haslo)
        </div>
        <input type="submit" value="Podgląd" />
    }
    @*@{Html.RenderAction("GetQuiz", "Home");}*@
</div>