﻿@model TSM_serwer.Models.AdModel
<h2>Nowa reklama</h2>
<div id="container">
    @using (Html.BeginForm("addAd", "Home", FormMethod.Post, new
    { enctype = "multipart/form-data" }))
    {
        <div class="row">
            @Html.LabelFor(n => n.Tag)
            @Html.TextBoxFor(n => n.Tag)
            @Html.ValidationMessageFor(n => n.Tag)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.Miejsce)
            @Html.TextBoxFor(n => n.Miejsce)
            @Html.ValidationMessageFor(n => n.Miejsce)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.doceloweWyswietlenia)
            @Html.TextBoxFor(n => n.doceloweWyswietlenia)
            @Html.ValidationMessageFor(n => n.doceloweWyswietlenia)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.budzet)
            @Html.TextBoxFor(n => n.budzet)
            @Html.ValidationMessageFor(n => n.budzet)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.haslo)
            @Html.PasswordFor(n => n.haslo)
            @Html.ValidationMessageFor(n => n.haslo)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.ConfirmPassword)
            @Html.PasswordFor(n => n.ConfirmPassword)
            @Html.ValidationMessageFor(n => n.ConfirmPassword)
        </div>
        <div class="row">
            @Html.LabelFor(n => n.obraz)
            @Html.TextBoxFor(m => m.obraz, new { type = "file" })
            @Html.ValidationMessageFor(n => n.obraz)
        </div>
        <input type="submit" value="Dodaj reklamę" />
    }
    @*@{Html.RenderAction("GetQuiz", "Home");}*@
</div>